h1 Storage, demand shifting and interconnection

p To avoid power outages, electricity demand needs to balance with electricity supply at all times. This is a tricky task as both demand and some forms of supply fluctuate throughout any day, over a week and between the seasons. Some electricity generation fluctuates more than others, as for example the supply from many renewables depends on the weather conditions.

p At present the UK has a number of tools to balance the electricity network, including the UK's 2 GW interconnector with France. During 2007 the UK imported 8.6 TWh and exported 3.4 TWh. In addition the UK has 3.5 GW of pumped storage, with the largest site being Dinorwig in North Wales which has a storage capacity of around 9 GWh and a peak output of around 2 GW. There is very limited ability to shift demand in a co-ordinated way: a few large industrial electricity users are on interruptible contracts, receiving discounts in return for being switch-offable if the grid has a shortfall in supply. In the future we could have a smart grid that could shift the timing of millions of pieces of demand, to help balance the grid.

h2 Level 1

p Level 1 assumes that by 2050 the UK has developed 3.5 GW of storage and 4 GW of interconnectors. Smart demand shifting is not implemented.

h2 Level 2

p Level 2 assumes that by 2050 the UK has developed 4 GW of storage, with a storage capacity of 30 GWh, and 10 GW of interconnectors. Around 25% of all electric vehicles and plug-in hybrid electric vehicles allow flexible charging, enabling co-ordinated electricity demand shifting.

h2 Level 3

p Level 3 assumes that by 2050 the UK has developed 7 GW of storage, with a storage capacity of 100 GWh, and 15 GW of interconnectors. This level also assumes that around 50% of electric cars allow flexible charging for co-ordinated demand shifting.

h2 Level 4

p Level 4 assumes that by 2050 the UK has 20 GW of storage, with a storage capacity of 400 GWh, and 30 GW of interconnectors. This level also assumes that around 75% of electric cars allow flexible charging for co-ordinated demand shifting.

figure
  = image_tag '/images/factsheets/storage-demand-shifting-and-interconnection-img.png', class: 'aligncenter', alt: 'Storage demand shifting and interconnection'

  figcaption Figure 1. Part of the Dinorwig hydroelectric power station, a system that stores energy by pumping 6.7 million m3 of water up around 500 metres and then releasing it to supply 9 GWh of energy at a rate of around 2 GW. Photo &copy; Denis Egan.

figure
  = image_tag '/images/factsheets/storage-demand-shifting-and-interconnection-chart.png', class: 'aligncenter', alt: 'Storage demand shifting and interconnection'

  figcaption Figure 2. The assumed maximum energy that can be kept in pumped storage in GWh. Note that this energy can be stored and then released many times over a year, and therefore these figures are not directly comparable to the TWh/y charts that appear at the bottom of other sector notes.
