aside.controls-sidebar data-bind="tabs"

  nav.tab-nav.pathway-category-tab-nav
    ul data-bind="foreach: pathwayCategories"
      li data-bind="css: { 'active': $parent.currentTabId() === id }"
        button.tab-button data-bind="attr: { 'data-tab': id }, click: $parent.setActiveTab, text: name"

  .tabs.pathway-categories data-bind="foreach: pathwayCategories"
    .tab data-bind="foreach: $parent.pathway().actionsForCategory(id), css: { 'active': $parent.currentTabId() === id }"

      .item data-bind="event: { mouseover: $parent.toggle, mouseout: $parent.toggle }"
        div
          label data-bind="text: name"
          span.value-label
          button.info-button data-bind="click: $parents[2].showOverlay"

        div.option
          <!-- ko if: getTypeName() === 'rangeInt' -->
            input data-bind="rangeInt: value, params: { name: name, tooltips: tooltips, min: min, max: max, step: step }"
          <!-- /ko -->

          <!-- ko if: getTypeName() === 'rangeFloat' -->
            input data-bind="rangeFloat: value, params: { name: name, tooltips: tooltips, min: min, max: max, step: step }"
          <!-- /ko -->

          <!-- ko if: getTypeName() === 'radio' -->
            span data-bind="radio: value, params: { name: name, tooltips: tooltips, max: max }"
          <!-- /ko -->

          span.tooltip

  button.show-overview data-bind="click: $parent.toggleOverview"= I18n.t('calculator.all.show')
