.background
  section.share-section
  .share-description
    h1 My Finished 2050 Pathway

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat elementum sapien, a lobortis nisl suscipit vitae. Vestibulum egestas risus in ipsum semper, quis interdum nunc tincidunt.

    textarea#share-string rows="3" readonly="readonly" data-bind="text: shareString, event: { focus: highlightText }"

  .share-chart
    .overview-chartset data-bind="foreach: chartOptions"
      .chart data-bind="visible: $parents[1].shareVisible(), chart: 'OverviewChart', data: data, params: { title: name, xMin: xMin, xMax: xMax, hasAxis: true, drawParams: { date: date }, margin: { top: 20, right: 40, bottom: 20, left: 135 } }"
        h3.bar-title data-bind="text: title"


  .social
    h3.title Share Your Pathway:

    ul.social-links
      li
        a.icon.icon-facebook-before data-bind="attr: { href: 'https://www.facebook.com/sharer/sharer.php?u=' + shareString() }" target="_blank" Facebook
      li
        a.icon.icon-twitter-before data-bind="attr: { href: 'http://twitter.com/share?text=' + shareTitle + '&url=' + shareString() }" target="_blank" Twitter
      li
        a.icon.icon-linkedin-before data-bind="attr: { href: 'https://www.linkedin.com/shareArticle?mini=true&url=' + shareString() + '&title=' + shareTitle + '&summary=' + shareSummary + '&source=' }" target="_blank" LinkedIn
      li
        a.icon.icon-google-plus-before data-bind="attr: { href: 'https://plus.google.com/share?url=' + shareString() }" target="_blank" Google+
      li
        a.icon.icon-envelope-before data-bind="attr: { href: 'mailto:?subject=' + shareTitle + '&body=' + shareSummary + '%0D%0A%0D%0A' + shareString() }" target="_blank" Email
