.modal-overlay data-bind="css: { 'is-active': faqVisible() }"
  h2 i am an faq page

  div.faqs

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing

    article
      header
        h5 This is an FAQ Question
        span.toggle &times;

      section
          div
            this is the answer to my cool faq thing
