<nav class="tab-nav chart-tab-nav"><ul data-bind="foreach: CHART_TABS"><li data-bind="css: { 'active': $parent.currentTabId() === id }"><button data-bind="click: $parent.setActiveTab, text: title, attr: { class: 'icon-'+icon+'-before' }"></button></li></ul></nav><div class="tabs chart-tabs" data-bind="foreach: CHART_TABS" id="chart-tabs"><div class="tab" data-bind="
css: { 'active': $parent.currentTabId() === id },
component: {
name: 'chartViews/' + (typeof viewmodel === 'undefined' ? name : viewmodel),
params: {
calculator: $parents[1],
charts: charts,
data: $parent.pathway().chartData,
Pathway: $parent.Pathway,
DataRequester: $parent.DataRequester,
ChartParser: $parent.ChartParser
}
}"></div></div>