<img class="fixed-logo" src="/images/logo.png" /><div class="centered" data-bind="scrolls"><section class="scrollable"><article><div class="col"><p>The UK is committed to reducing its greenhouse gas emissions by at least 80% by 2050, relative to 1990 levels.</p>

<p>To do this we must decarbonise the UK economy while ensuring secure and affordable energy supplies.</p>
</div><div class="col"><img src="/images/guide/screenshot.png" /></div></article></section><section class="scrollable"><article><div class="col"><img src="/images/guide/graph.png" /></div><div class="col"><p>How should this be done? The 2050 Calculator lets you take control and create your own energy pathway for the country.</p>

<p>The calculator allows you to consider the choices and trade-offs we face. It covers all parts of the economy and all greenhouse gas emissions released in the UK.</p>
</div></article></section><section class="scrollable"><article><div class="col"><p>The calculator models what is thought to be physically and technically possible in forty-two different sectors. It is based on scientific and engineering data and was built in collaboration with a wide range of organisations from inside and outside of government.</p>

<p>The model, all its assumptions and the code for this interface are all available open source. <a href="http://github.com/decc/twenty-fifty">http://github.com/decc/twenty-fifty</a></p>

<p>For more information go to: <a href="https://www.gov.uk/2050-pathways-analysis">https://www.gov.uk/2050-pathways-analysis</a></p>
</div><div class="col"><img src="/images/guide/map.png" /></div></article></section><section class="scrollable"><article><h3>Let's get started...</h3>

<p>The purpose of the calculator is to build an energy pathway for the UK that hits the 80% CO<sub>2</sub> emission reduction target at the top of the page. As you get closer to achieving this the white arrow will move to the right.</p>
</article></section><section class="scrollable"><article><p>The sliders represent each sector of the UK energy system. Moving the sliders allows you to cut emissions by adjusting the level of change for energy demand, supply and other factors such as storage. Use the "Demand", "Supply" and "Other" tabs to toggle between the different groups of sliders.</p>

<p>To use a slider, select a number from 1 (minimal effort) to 4 (pushes limits of what is technically feasible).  When the choice is A to D, this describes different scenarios rather than changes in effort.</p>

<p>For more information on each sector simply click the <span class="info-button"></span> icon.</p>
</article></section><section class="scrollable"><article><div class="col"><p>As the sliders are adjusted your progress towards achieving the 80% target is updated. At the same time, the picture near the top of the screen changes to reflect the choices you’ve made.</p>

<p>There are eight ways to see the impact of your choices, which include: supply and demand of energy and electricity, total emissions, energy flows, area of land required, impact on air quality, energy security and cost.</p>
</div><div class="col"><img src="/images/guide/target.png" /></div></article></section><section class="scrollable"><article><p>If you experience any problems creating a pathway that achieves an 80% cut in emissions it’s worth considering the following factors:</p>

<p><em>You need to reduce energy demand and decarbonise energy supply</em></p>

<p><em>Have you electrified transport, heat or industry? If not, these sectors will be consuming fossil fuels.</em></p>

<p><em>Look at the ‘Electricity’ tab – are you oversupplying electricity? Excess electricity supply will not help achieve an 80% cut.</em></p>

<p><em>Despite big increases in electricity use, liquid fuel, such as bioenergy, will still be needed in 2050.</em></p>
</article></section><section class="scrollable"><article><div class="col"><img src="/images/guide/example-pathways.png" /></div><div class="col"><p>There are many different ways to create a pathway that hits the 80% target. To see some example pathways go to the menu button on the top left of the page and click on "Example Pathways".</p>
</div></article></section><section class="scrollable"><article><h2>You're all set to go!</h2><a class="button" href="/#/calculator">Start</a></article></section></div><a class="skip-guide" href="/#/calculator">Skip guide</a>