h1 Carbon capture and storage power station fuel mix

p The 2050 Calculator allows CCS power stations to be fueled by a solid fuel (coal or biomass if it is available) or a gaseous fuel (natural gas or a biogas if it is available). Any available biofuel is used in preference to the equivalent fossil fuel.

p In the 2050 Calculator the future shape of the CCS sector is determined by two choices: the CCS power station fuel mix (described here) and the CCS power station build rate (described on another page).

p All of the trajectories below assume that the four CCS demonstration projects built in level 1 of the 'CCS power stations' lever consist of three coal plants and one gas plant. The different fuel trajectories only apply to any commercial-scale CCS plants built in addition to these four demonstration plants (in levels 2-4).

h2 Trajectory A

p Trajectory A assumes that all CCS power stations use solid fuel (coal or biomass).

h2 Trajectory B

p Trajectory B assumes that two-thirds of CCS power stations use solid fuel (coal or biomass), and the rest use gas (natural gas or biogas).

h2 Trajectory C

p Trajectory C assumes that two-thirds of CCS power stations use gas (natural gas or biogas), and the rest use solid fuel (coal or biomass).

h2 Trajectory D

p Trajectory D assumes that all CCS power stations use gas (natural gas or biogas).

h2 Interaction with other choices

p Plants capture CO2 from the atmosphere as they grow, which they store in the form of biomass. The UK can take advantage of this by harvesting the biomass and burning it in electricity generation plants which are fitted with CCS infrastructure. This would ensure that up to 90% of the CO2 sequestered from the atmosphere by plants is stored underground in designated CCS facilities. This process is called bioenergy plus carbon capture and storage (BECCS).A 2050 Calculator user can select BECCS by:

ul
  li Assuming that CCS is in commercial operation, by selecting levels 2-4 for CCS.
  li Selecting options for biomass to be grown in the UK and/or imported.
  li Ensuring that the biomass is in the same form as the fuel demanded by the CCS power plants. For example, gas CCS power plants require biogas.

= image_tag '/images/factsheets/ccs-power-station-fuel-mix-img.png', class: 'aligncenter', alt: 'Carbon capture and storage power station fuel mix'
