h1 Electricity imports

p Low carbon electricity can be imported from abroad as well as being produced in the UK. This could come from sources such as geothermal energy from Iceland, wind energy from Norway's North Sea, or solar energy from southern Europe or northern Africa. These other countries could oversupply electricity and then export it to the UK, which might require improving the electricity connections to the UK.

p Solar energy is collected by arrays of solar panels in sunny countries and the electricity generated is imported to the UK via cables. There are currently no dedicated solar farms supplying solar energy directly to the UK. The electricity connection from the UK to France has a capacity of 2 GW but this is currently used for non-solar electricity.

h2 Level 1

p Level 1 assumes that in 2050 the UK imports no electricity from solar plants abroad.

h2 Level 2

p Level 2 assumes that in 2050 the UK imports 30 TWh/y of electricity. This average energy production is the equivalent of every person in Britain having 2.5m2 of solar photovoltaic panels in an overseas solar array.To deliver this energy, the capacity of the interconnector with France would be increased by 4 GW.

h2 Level 3

p Level 3 assumes that by 2050 the land area occupied by solar power stations in the countries exporting energy to the UK is 500 km2, assuming a power per unit area of 15 W/m2. This is one-third of the area of Greater London and generates 70 TWh/y. For this level of electricity imports the interconnector capacity between France and England needs to be boosted by 8 GW, giving a total of 10 GW. It also requires grid enhancements enabling an extra 8 GW to flow all the way from the Sahara to Surrey. This 70 TWh/y of output equates to every person in Britain having 6m2 of solar photovoltaic panels in an overseas solar array, or 2.3 m2 of mirrors in a concentrating solar power station like the one in Figure 1.

h2 Level 4

p Level 4 assumes that by 2050 the land area occupied by solar power stations in the countries exporting energy to the UK is 1000 km2, assuming a power per unit area of 15 W/m2. This is two-thirds of the area of Greater London and generates 140 TWh/y. The interconnector to France needs 20 GW of extra capacity. This level also requires grid enhancements in the UK enabling an extra 16 GW of electricity flow. This 140 TWh/y equates to every person in Britain having either 12 m2 of overseas solar photovoltaic panels or 4.6 m2 of mirrors in a concentrating solar power station.

figure
  = image_tag '/images/factsheets/electricity-imports-img1.png', class: 'aligncenter', alt: 'Electricity imports'

  figcaption Figure 1. The Andasol solar power station, occupying 2 km2 of land in Andalusia, Spain. It produces a peak output of 100 MW of electricity, and 42 MW of electricity on average, equivalent to 20 W/m2. Photo &copy; BSMPS.

figure
  = image_tag '/images/factsheets/electricity-imports-img2.png', class: 'aligncenter', alt: 'Electricity imports'

  figcaption Figure 2. The yellow box shows an area of 500 km2, as envisaged at level 3 for a solar power station.

= image_tag '/images/factsheets/electricity-imports-chart.png', class: 'aligncenter', alt: 'Electricity imports'

