h1 Geothermal electricity

p Using the heat from hot dry rocks deep underground (typically 4-5 kilometres deep) to generate electricity is a technology in its early stages: there are a handful of prototypes and small-scale commercial plants around the world which generate a few MW each.

p The UK has only a few areas where rocks are confidently predicted to be hot enough to support electricity generation. This includes Cornwall, where some geothermal experiments were carried out in the 1980s.

p It is possible to generate heat as well as electricity from geothermal resources but heat exploitation is constrained by the need to locate geothermal plants near to heat demand.

h2 Level 1

p Level 1 assumes that there is no commercial use of geothermal sources for power generation by 2050.

h2 Level 2

p Level 2 assumes that the geothermal demonstration projects currently being built in Cornwall today are successful, leading to steady building of geothermal plants in the best sites in Cornwall. These plants could typically have capacity of around 10 MW, greater than the 3-MW plant in Figure 1. The total capacity reaches about 1 GW by 2035 (equivalent to roughly 100 10-MW plants), and is maintained at this level, leading to an output of 7 TWh/y between 2035 and 2050.

h2 Level 3

p Level 3 assumes that geothermal extraction efforts are focused not only on Cornwall, but also other areas where granite is predominant, like Cumbria. Total capacity reaches about 3 GW by 2030 (equivalent to roughly 300 10-MW plants), and is maintained at this level, leading to an output of 21 TWh/y between 2030 and 2050.

h2 Level 4

p Level 4 assumes that the UK utilises all of its practically available hot rock resource. This requires drilling geothermal wells to a depth of 5 km not only across Cornwall, but also in the Eastern Highlands of Scotland, the Pennines and the Lake District. Total capacity reaches about 5 GW by 2030 (equivalent to roughly 500 10-MW plants), and is maintained at this level, leading to an output of 35 TWh/y between 2030 and 2050.

figure
  = image_tag '/images/factsheets/geothermal-electricity-img1.png', class: 'aligncenter', alt: 'Geothermal Electricity'

  figcaption Figure 1. Landau 3-MW geothermal power station in der Pfalz, Germany. The blue pump brings the hot water up and the red one puts it back into the ground. Photo &copy; Geox.

figure
  = image_tag '/images/factsheets/geothermal-electricity-img2.png', class: 'aligncenter', alt: 'Geothermal Electricity'

  figcaption Figure 2. Enhanced geothermal extraction from hot dry rock. A well is drilled and pressurized to create fractures. A second well is drilled into the far side of the fracture zone. Cold water is pumped down one well, driving heated water or steam up the other.

= image_tag '/images/factsheets/geothermal-electricity-chart.png', class: 'aligncenter', alt: 'Geothermal Electricity'

