h1 Hydroelectric power stations

p In 2007 the UK had 1.3 GW of large-scale hydropower capacity which generated about 4 TWh/y, approximately 1.4% of the UK's electricity demand, and a much smaller amount of small-scale hydropower capacity.

h2 Level 1

p Level 1 assumes that total hydropower capacity is maintained at the 2010 level of 1.6 GW up to 2050, typically producing around 5 TWh/y of electricity output.

h2 Level 2

p Level 2 assumes that capacity reaches 2.1 GW by 2050, through the refurbishment of existing schemes and some micro-hydro sites. This capacity generates around 7 TWh/y of electricity.

h2 Level 3

p Level 3 assumes that hydropower capacity reaches 2.5 GW by 2030 and then remains the same until 2050, generating around 8 TWh/y of electricity. This output represents a 60% increase on the current energy output of the UK's existing hydropower resource. To achieve this by 2030 requires dramatic action in terms of planning and constructing hydroelectric sites, leading to the creation of a total UK reservoir area of around 80 km2 to be used for hydroelectric power (including existing reservoir sites).

h2 Level 4

p Level 4 assumes that capacity grows rapidly, reaching 4 GW by 2035 and then remaining the same until 2050, generating 13 TWh/y of electricity. The extra reservoir area required to deliver this additional output beyond the 2007 baseline is roughly 83 km2, set in a rainfall catchment area of 4 600 km2 (assuming a power per unit reservoir area of 11 W/m2, and a power per unit catchment area of 0.2 W/m2, typical of a Highland hydroelectric facility).

p Glendoe, the first new large-scale hydroelectric project in the UK since 1957, added capacity of 100 MW and is expected (once working) to deliver 0.18 TWh/y. So level 4 involves building roughly 40 new Glendoes in the UK. This is technically feasible but would raise large environmental and planning concerns.

figure
  = image_tag '/images/factsheets/hydroelectric-power-stations-img1.png', class: 'aligncenter', alt: 'Hydroelectric power stations'

  figcaption Nant-y-Moch dam, part of a 55 MW hydroelectric scheme in Wales. Photo © Dave Newbould, www.origins- photography.co.uk

figure
  = image_tag '/images/factsheets/hydroelectric-power-stations-img2.png', class: 'aligncenter', alt: 'Hydroelectric power stations'

  figcaption Figure 2. The total area of additional reservoirs assumed for level 4 is 83 km2 (dark blue square), drawing on a rainfall catchment area of 4600 km2 (light blue square).

= image_tag '/images/factsheets/hydroelectric-power-stations-chart.png', class: 'aligncenter', alt: 'Hydroelectric power stations'

