h1 Land dedicated to bioenergy

p In 2007, the UK used 4000 km2 of land to grow energy crops, which is less than 2% of the country. For comparison, 174 000 km2 of land was used for arable crops, livestock, and fallow land. The 2050 Calculator contains two options relating to agricultural biomass and land use: land use management (described here) and livestock management (described on another page).

h2 Level 1

p Level 1 assumes that in long-term land management decisions until 2050, food production has priority over bioenergy. Land is split between activities in a way similar to today, although we are able to get more food from the land thanks to increased crop yields. The resulting energy available in 2050 is 55 TWh/y.

h2 Level 2

p Level 2 assumes that current trends and drivers in land management continue from now to 2050, with an increasing area of land covered by housing. However the area planted with bioenergy crops also increases, so that five times more energy crops are produced in 2050 than today. The resulting energy available in 2050 is 117 TWh/y.

h2 Level 3

p Level 3 assumes that bioenergy begins to break through as a significant part of domestic agricultural output, with 10% of UK land used by 2050 for growing energy crops, an area the size of Wales. There is an appreciable improvement in soil and crop management technologies, with some land currently used for food crops being reassigned to bioenergy production and forestry. The resulting energy available in 2050 is 324 TWh/y.

h2 Level 4

p Level 4 assumes that the UK has a strong domestic bioenergy production focus, with 17% of the country planted with energy crops. There is extensive carbon capture through forestry, and highly effective management and collection of waste materials for bioenergy use. The resulting energy available in 2050 is 545 TWh/y.

p For comparison, Denmark's production of straw, woodchips, firewood, woodpellets, woodwaste, biogas, biooil, and biodiesel for energy in 2008 was 18 TWh/y. Scaled by the population ratio of UK to Denmark, this energy production is equivalent to 200 TWh/y in the UK.

figure
  = image_tag '/images/factsheets/land-dedicated-to-bioenergy-img.png', class: 'aligncenter', alt: 'Land dedicated to bioenergy'

  figcaption Figure 1. The 42 000 km2 taken up by domestically produced bioenergy crops in level 4.

= image_tag '/images/factsheets/land-dedicated-to-bioenergy-chart.png', class: 'aligncenter', alt: 'Land dedicated to bioenergy'

