h1 Marine algae

p This section looks at macro-algae such as seaweed. To turn macro-algae into usable fuel, most of the water should be removed by filters and centrifuging before the oil contained in the algae is extracted. In 2007 most of the macro-algae in the UK grew naturally off the north-west coast of Scotland but no significant quantities of this were harvested.

p The levels below are compared to the amount of macro-algae growing naturally in Scotland but the intention would be to harvest purpose-grown commercial stocks, not natural ones. These need not necessarily all be grown in Scotland as there are suitable sites elsewhere in the UK, such as off the coast of East Anglia.

h2 Level 1

p Level 1 assumes that macro-algae cultivation is not a significant source of liquid biofuel.

h2 Level 2

p Level 2 assumes that 560 km2 of sea, equivalent to half of Scotland's current natural macro-algae stocks, is used for the commercial growth and collection of macro-algae by 2050. While feasible, this still represents an unprecedented offshore agricultural proposition. The algae grown on this area of sea produces 4 TWh/y of energy output.

h2 Level 3

p Level 3 assumes that by 2050 marine algae is commercially grown in an area of 1125 km2, the same size as the current natural macro-algae stocks in Scotland. The area occupied would be about three Isles of Wight. This amount of algae produces 9 TWh/y of energy output.

h2 Level 4

p Level 4 assumes that by 2050 an area of 4700 km2 is used to cultivate algae, over four times larger than existing natural stocks in Scotland and equivalent in area to over 12 Isles of Wight.

p The algae grown on this area of sea generates about 46 TWh/y of usable energy per year. It is possible that cultivation at such large levels requires the addition of nutrients to help the algae grow. Water movements mean that such nutrient additions cannot be contained, so there is a risk of causing uncontrolled algal blooms. These might increase greenhouse gas emissions through ammonia and nitrous oxide production.

figure
  = image_tag '/images/factsheets/marine-algae-img1.png', class: 'aligncenter', alt: 'Marine algae'

  figcaption Figure 1. An algae farm in the Philippines, where the yield from a one-hectare farm can be as much as 48 tonnes in two months. In 2008 the Philippines harvested about 75 000 tonnes of seaweed. Photo &copy; derekkeats.

figure
  = image_tag '/images/factsheets/marine-algae-img2.png', class: 'aligncenter', alt: 'Marine algae'

  figcaption Figure 2. The 4700 km2 taken up by macro-algae production in level 4.

= image_tag '/images/factsheets/marine-algae-chart.png', class: 'aligncenter', alt: 'Marine algae'
