h1 Small-scale wind

p In 2007 the UK had almost no small-scale wind turbines.

h2 Level 1

p Level 1 assumes no significant increase, with small-scale wind turbines having negligible impact on the UK's energy system or the landscape.

h2 Level 2

p Level 2 assumes that capacity increases to 0.6 GW in 2020, delivering 1.3 TWh/y, and is sustained at that level to 2050. Today's roof-mounted micro-turbines (Figure 1) don't contribute significantly as they are simply too small. Let's therefore visualize levels 2, 3 and 4 in terms of mini-turbines (Figure 2). Each of these turbines produces an average output of 4000 kWh/y. Reaching level 2 requires the construction of about 325 000 turbines. That's roughly 1.5 mini-turbines per square kilometre of the UK.

h2 Level 3

p Level 3 assumes that capacity increases to 1.6 GW in 2020, delivering 3.5 TWh/y, and is sustained at that level to 2050. Roughly 875 000 mini-turbines are needed, 3.5 mini-turbines per square kilometre of the UK.

h2 Level 4

p Level 4 assumes that capacity increases to 4.1 GW in 2020, delivering 8.9 TWh/y, and is sustained at that level to 2050. This corresponds to 2.2 million mini-turbines, nine mini-turbines per square kilometre of the UK. If we assume that each of those mini-turbines 'occupies' an area of 30 m × 30 m, the area occupied at level 4 is 2000 km2, or nearly 1% of the UK.

figure
  = image_tag '/images/factsheets/small-scale-wind-img1.png', class: 'aligncenter', alt: 'Small-scale wind'

  figcaption Figure 1. A 5.5 m diameter Iskra 5-kW mini-turbine having its annual check-up. This turbine, located in Hertfordshire (not the windiest of locations in Britain), mounted at a height of 12 m, has an average output of 11 kWh per day.

figure

  = image_tag '/images/factsheets/small-scale-wind-img2.png', class: 'aligncenter', alt: 'Small-scale wind'

  figcaption Figure 2. The average power generated by this Ampair 600-W micro-turbine in Leamington Spa is 0.037 kWh per day (1.5 W). For comparison, the average British person's share of electricity consumption is 17 kWh per day.

= image_tag '/images/factsheets/small-scale-wind-chart.png', class: 'aligncenter', alt: 'Small-scale wind'

