h1 Solar panels for hot water

p Solar water heating systems (also known as 'solar thermal') use solar panels to warm water which is stored in a hot water cylinder. In 2007 less than 1% of buildings had solar hot water systems.

h2 Level 1

p Level 1 assumes that in 2050, as today, only a very small proportion of buildings have a solar thermal system.

h2 Level 2

p Level 2 assumes that in 2050 about 30% of suitable buildings have 30% of their annual hot water demand met by solar thermal. The panels for a typical home would occupy about3 m2 of South-facing roof (Figure 1). In 2050 solar thermal delivers around 20 TWh/y of heat.

h2 Level 3

p Level 3 assumes that all suitable buildings have some level of solar thermal heating system in 2050, with around 30% of their annual hot water demand met by solar thermal. 1.6 m2 of panels per person are installed to generate58 TWh/y of heat.

h2 Level 4

p Level 4 assumes that in 2050 all suitable buildings have around 60% of their annual hot water demand met by solar thermal. This requires 3.1 m2 of solar panels per person, delivering 116 TWh/y of heat energy. This is feasible given that all south-facing domestic roofs could accommodate 10 m2 per person. It is possible that there will be competition for roof space between solar photovoltaic and solar thermal panels, in which case some of these solar panels may appear as ground-based solar farms instead. It is estimated that 1.5 m2 of solar thermal panels per person are needed to supply all domestic summer hot water demand using today's technology. Level 4 assumes double this area of panels. To avoid wasting the excess heat delivered in the summer, seasonal heat storage systems are needed to store heat so that it can be used during the winter.

figure
  = image_tag '/images/factsheets/solar-panels-for-hot-water-img.png', class: 'aligncenter', alt: 'Solar panels for hot water'

  figcaption Figure 1. A house with a 3 m2 Viridian Solar panel on its roof. Photo &copy; Viridian Concepts Ltd.

figure
  = image_tag '/images/factsheets/solar-panels-for-hot-water-chart1.png', class: 'aligncenter', alt: 'Solar panels for hot water'

  figcaption Figure 2. Solar power generated by the 3 m2 hot-water panel in figure 1 (green), and supplementary heat required (blue) to make hot water in the test house of Viridian Solar. The average solar power from 3 m2 was 3.8 kWh/d. The experiment simulated the hot-water consumption of an average European household - 100 litres of hot (60&deg;C) water per day. The 1.5-2 kWh/d gap between the total heat generated (black line, top) and the hot water used (red line) is caused by heat-loss. The magenta line shows the electrical power required to run the solar system. The average power per unit area of these solar panels is 53 W/m2.

= image_tag '/images/factsheets/solar-panels-for-hot-water-chart2.png', class: 'aligncenter', alt: 'Solar panels for hot water'

