h1 Tidal stream

p Tidal stream technologies harness the energy from the tides using underwater turbines. In 2007 there were only experimental tidal stream machines in the UK. There remains considerable uncertainty about the tidal stream resource in British waters.

h2 Level 1

p Level 1 assumes that no tidal stream devices are installed by 2050.

h2 Level 2</p>Level 2 assumes that tidal stream capacity grows to 1.9 GW by 2050, equivalent to roughly 000 2-MW tidal stream devices, larger than the 1.2-MW Seagen prototype shown in Figure 1. This capacity generates 6 TWh/y of electricity output.

h2 Level 3

p Level 3 assumes that tidal stream capacity grows to 9.5 GW by 2050, equivalent to 4700 2-MW devices. This generates 30 TWh/y of electricity output.

h2 Level 4

p Level 4 assumes that tidal stream capacity grows to 21.6 GW by 2050, equivalent to 10 600 2-MW devices. This generates 68 TWh/y of electricity output.

figure
  = image_tag '/images/factsheets/tidal-stream-img1.png', class: 'aligncenter', alt: 'Tidal Range'

  figcaption Figure 1. Seagen (Strangford Lough), the first grid-connected tidal stream device in the UK, with capacity of 1.2 MW. Photo by Dr. I.J. Stevenson.

figure
  = image_tag '/images/factsheets/tidal-stream-img2.png', class: 'aligncenter', alt: 'Tidal Range'

  figcaption Figure 2. The six areas marked in red have peak tidal flows that exceed 1 m/s.

= image_tag '/images/factsheets/tidal-stream-chart.png', class: 'aligncenter', alt: 'Tidal Range'

