%button
  border: 0
  padding: 0

%icon-button
  @extend %button
  background: none

button
  outline: none

.button
  padding: 15px 60px
  text-transform: uppercase
  background: $color-highlight
  display: inline-block
  color: $color-button-text
  text-decoration: none
  border-radius: 4px
  font: $font-light
  font-size: 1.75em
  margin: 1em 0 0 0
  border: 0

.info-button
  @extend %button, %icon-info-before
  background: #cccccc
  border-radius: 100%
  font-size: 11px
  color: #f5f5f5
  width: 15px
  height: 15px
  text-align: center
  
  &:hover
    background: #bbbbbb
