.chart-component-tabs
  list-style-type: none
  padding: 0
  margin: 0

  li
    width: 50%
    float: left

    .tab-button
      padding: 20px
      width: 100%
      color: #FFF
      border: none
      background: none

    &.is-active
      .tab-button
        background: pink
