.chart-tabs-container
  width: 100%
  height: 100%
  background: #5A6378

.charts
  position: absolute
  top: $cityscape-height
  bottom: 0
  left: 0
  right: 0

  @media screen and (max-height: $device-height-small)
    top: 0

  &.noTop
    top: 0px

.chart-tab-nav
  position: absolute
  top: 0
  left: 0
  width: $chart-tabs-width
  height: 100%
  z-index: 10

  ul
    list-style: none
    padding: 0
    margin: 0
    height: 100%

  li
    position: relative
    width: 100%
    height: percentage(1/9)
    background: $color-background-light

    &.active
      background: $color-background-dark

      button
        color: #FFF

        &:before
          color: #FFF

    button
      width: 100%
      height: 100%
      padding: 0.5em 0 0.5em 4.5em
      text-align: left
      border: none
      background: none
      outline: none

      &:before
        position: absolute
        left: 0
        top: 50%
        margin-top: -0.45em
        padding: 0 0.5em
        font-size: 2em

.chart-tabs
  position: relative
  overflow: hidden
  width: 100%
  padding-left: $chart-tabs-width
  height: 100%
  background: radial-gradient(ellipse at bottom right, rgba(0, 0, 0, 0.5) 0%, transparent)

  & > .tab
    display: block !important
    position: absolute
    top: 0
    left: -100000px
    width: 100%
    bottom: 0
    height: 100%
    padding-left: $chart-tabs-width

    &.active
      visibility: visible
      left: 0px
