.chart-tabs-container
  position: absolute
  height: calc(100%)
  left: 0
  right: 0
  background: #5A6378
  border-top: 1px solid #fff
  @include transition(height .3s ease-in-out, top .3s ease-in-out)

  &.full
    top: $cityscape-bar-height
    height: calc(100% - #{$cityscape-bar-height})

  @include media($media-height-small)
    top: 0
    height: 100%

    &.full
      top: 0
      height: 100%

  &.noTop
    top: 0px

  @include media($media-city)
    top: $cityscape-height
    height: calc(100% - #{$cityscape-height})

.chart-tab-nav
  position: absolute
  top: 0
  left: 0
  width: $chart-tabs-width-small
  overflow: hidden
  bottom: 0
  z-index: 10
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3)
  @include media($media-height-small)
    top: 0

  @include media($media-big)
    width: $chart-tabs-width

  ul
    list-style: none
    padding: 0
    margin: 0
    height: 100%

  li
    position: relative
    width: 100%
    height: percentage(1/9)
    background: $color-background-light

    &.active
      background: $color-background-dark

      button
        color: #FFF

        &:before
          color: #FFF

    button
      width: 100%
      height: 100%
      padding: 0.5em 0 0.5em 3.5em
      text-align: left
      border: none
      background: none
      outline: none

      &:before
        position: absolute
        left: 0
        top: 50%
        margin-top: -0.45em
        padding: 0 16px
        font-size: 1.5em

.chart-tabs
  position: relative
  overflow: hidden
  width: 100%
  padding-left: $chart-tabs-width-small
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)
  background: radial-gradient(ellipse at bottom right, rgba(0, 0, 0, 0.5) 0%, transparent)

  @include media($media-big)
    padding-left: $chart-tabs-width

  .tab
    p
      line-height: 130%

    ul
      li
        line-height: 130%

  & > .tab
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    bottom: 0
    height: 100%
    padding-left: $chart-tabs-width-small

    @include media($media-big)
      padding-left: $chart-tabs-width

    &.active
      display: block
