$tablet: "(max-width: 865px)"

.cityscape
  background: url(/images/cityscape.png)

  &.fullWidth
    max-width: 100%
    width: 100%

@media #{$tablet}
  .cityscape
    display: none
  .charts
    top: 0px
  .toggle-city
    display: none

.toggle-city
  position: absolute
  top: 5px
  right: 20px
  z-index: 20
  width: 20px
  height: 20px
  background-color: transparent
  color: #fff
  cursor: pointer
  background-size: contain

  &.up
    @extend %icon-landscape_up-before
  &.down
    @extend %icon-landscape_down-before

