.faqs
  margin: 40px auto
  width: 100%
  overflow: auto
  overflow-x: hidden

  .left
    float: left
    width: 49%

  .right
    float: right
    width: 49%

  a
    color: #FFF

  article
    width: 100%
    max-width: 800px
    margin: 0 auto 1em
    display: block
    vertical-align: top

    &.is-active
      header
        &:after
          @extend %icon-content-close

    header
      overflow: auto
      cursor: pointer
      background: rgba(0, 0, 0, 0.3)
      position: relative

      &:after
        @extend %icon-content-down_arrow
        position: absolute
        right: 20px
        top: 50%
        @include transform(translateY(-50%))
        font-size: 1.5em

      h5
        margin: 0
        padding: 1em
        font-size: 1.3em
        color: 000
        float: left
        width: 85%

      span
        float: right
        width: 15%
        padding: 1em
        font-size: 1.3em
        text-align: right
        font-weight: bold
        color: #666

    section
      background: rgba(0, 0, 0, 0.6)
      height: 0
      overflow: hidden
      transition: height .2s ease-out

      div
        padding: 1em 2em
        font-size: 16px

