.calculator-header
  position: relative
  height: $header-height
  z-index: 12
  min-height: 65px
  @include row
  background: $color-background-dark
  border-bottom: 1px solid $color-background

  .settings
    position: absolute
    top: 0
    bottom: 0
    left: 0
    z-index: 5
    cursor: pointer
    width: $chart-tabs-width-small
    border-right: 1px solid $color-background

    @include media($media-medium)
      width: $chart-tabs-width

    .toggle-nav
      position: absolute
      top: 0
      left: 0
      width: $chart-tabs-width-small
      height: 100%
      color: $color-button-text

      &:before
        position: absolute
        top: 50%
        left: 50%
        @include transform(translate(-50%, -50%))

    .pathway-owner
      display: none
      padding-left: 56px
      padding-right: 15px
      height: 100%
      @extend %vertical-centered
      color: #fff

      @include media($media-medium)
        display: table

  .total-co2-reduction
    position: relative
    width: 100%
    padding-left: $chart-tabs-width-small
    padding-right: $small-controls-width
    height: 100%
    color: $color-background-dark

    @include media($media-medium)
      padding-left: $chart-tabs-width

    @include media($media-mediumbig)
      padding-right: $right-col-width

    .container
      @extend %vertical-centered
      text-align: right
      padding-right: 2em
      width: 50%
      background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0) 75%)
      position: relative

      &:after
        content: ''
        position: absolute
        width: 0
        height: 0
        right: 0
        top: 0
        border-top: 40px solid $color-background-dark
        border-left: 40px solid transparent

      &:before
        content: ''
        position: absolute
        width: 0
        height: 0
        right: 0
        bottom: 0
        border-bottom: 40px solid $color-background-dark
        border-left: 40px solid transparent

  .spacer
    position: relative
    width: 100%

  .target-reached-tooltip
    position: absolute
    right: 20px
    top: 100%
    margin-top: 20px
    padding: 20px 20px 20px
    background-color: rgba(45, 49, 60, 0.95)
    min-width: 250px
    width: 33%

    .arrow
      left: 42%
      margin-left: 2px
      border-color: rgba(45, 49, 60, 0.95) transparent

    .close
      position: absolute
      top: 2px
      right: 8px
      line-height: 1
      font-size: 25px
      cursor: pointer


  .controls
    @include col(140px)
    @include omega
    position: absolute
    top: 0
    right: 0
    height: 100%

    @include media($media-mediumbig)
      width: $right-col-width

    .spinner
      width: 100%
      height: 100%
      background-size: 100% auto

    button
      border: none
      color: $color-button-text
      background: $color-highlight
      height: 100%
      padding: 20px
      text-align: center

    .finish-share
      @extend %vertical-centered
      padding-right: 70px
      width: 100%
      border-left: 1px solid $color-background
      @extend %icon-flag-before

      &:before
        font-size: 1.5em
        margin-left: -18px

      span
        display: none

      @include media($media-mediumbig)
        span
          display: inline
          position: relative
          top: -5px

        &:before
          content: ''

    .help
      position: absolute
      top: 0
      right: 0
      width: 70px
      font-size: 2em
      font-weight: bold
      border-left: 1px solid #fff
      line-height: 1

      &.share-closer
        @extend .blue

        @include media($media-city)
          background: #fff!important
          color: #000!important

      &.white
        background: #fff
        color: #000

      &.pink
        color: #fff
        background: #d53980
        cursor: help

      &.blue
        color: #fff
        background: rgba(53, 58, 68, 1)

      &.grey
        color: #000
        background: #f5f5f5

      span
        width: 100%
        height: 100%

      &:not(.pink)
        img
          display: none

      img
        position: absolute
        left: 10px
        top: 10px
        bottom: 10px
        right: 10px
        width: calc(100% - 20px)

