.main-nav
  @include col($nav-width)
  @include omega

  height: 100vh

  color: #ffffff

  a
    color: #ffffff
    text-decoration: none

  ul
    @extend %plain-list

  .top-level
    position: relative
    height: 100%
    @include col(50%)
    background: #2C313B
    padding: 2em 0

    .logo
      width: 90%

    .tab-nav
      margin-top: 1.5em

    .tab-button
      display: block
      width: 100%
      padding: 20px 0 20px 1em
      text-align: left
      background: none
      border: none

      &:hover
        background: $color-background-dark

      &.active
        background: $color-highlight

    .exit
      position: absolute
      left: 0
      bottom: 0
      background: rgba(255, 255, 255, 0.05)

  .secondary
    height: 100%
    @include col(50%)
    background: $color-highlight
    padding: 2em 1em

