.main-nav
  @include col($nav-width)
  @include omega

  height: 100vh

  color: #ffffff

  a
    color: #ffffff
    text-decoration: none

  ul
    @extend %plain-list

  .top-level
    height: 100%
    @include col(50%)
    background: #2C313B
    padding: 2em 0

    > ul
      a
        display: block
        padding: 1em 0
        &.active, &:hover
          background: $color-highlight

    .logo
      width: 100%

  .secondary
    height: 100%
    @include col(50%)
    background: $color-highlight
    padding: 2em 1em

