.modal-overlay
  background: $color-background
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  padding: 10%
  overflow: auto
  color: #ffffff
  z-index: 25

  .closer
    position: absolute
    top: 1em
    right: 1em
    cursor: pointer
