.modal-overlay
  background: $color-background
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  padding: 10%
  overflow: auto
  color: #ffffff
  z-index: -10
  opacity: 0
  @include transition(opacity .3s, z-index 0s .3s)

  &.white
    background: #fff
    color: #000

  &.is-active
    z-index: 10
    opacity: 1
    @include transition(opacity .3s)

  .social
    @extend %inline-list
    margin-bottom: 2em
    a
      color: #ffffff
      text-decoration: none
    &.black
      a
        color: #000

  .closer
    position: absolute
    top: 1em
    right: 1em
    cursor: pointer
    font-size: 50px
