.share
  position: absolute
  top: 200px
  bottom: 0
  left: 0
  right: 0
  color: #fff
  background-color: #2C313B
  background-image: radial-gradient(circle at 50% 100%, $color-background 15%, rgba(0,0,0,0) 40%), url(/images/rays.svg)
  background-size: 100% 100%

  .share-chart
    padding: 20px 50px

  .social
    position: absolute
    bottom: 0
    left: 0
    right: 0
    color: #fff
    background: #28a197

    .title, li
      float: left
      padding: 20px 5px 16px

    .title
      position: absolute
      top: 0
      left: 0
      margin: 0
      width: 210px
      padding-left: 20px
      font-weight: normal

    .social-links
      padding: 0 0 0 210px
      margin: 0

      li
        list-style-type: none
        text-align: center
        width: percentage(1/6)

        .icon
          color: #fff
          text-decoration: none
          position: relative
          top: -0.4em

          &:before
            position: relative
            font-size: 1.7em
            padding-right: 0.5em
            top: 0.2em
