html, body
  height: 100%

body
  max-width: 1920px
  background: #2C313B
  margin: auto
  background-color: $color-background
  background-image: radial-gradient(circle at 50% 100%, $color-background 15%, rgba(0,0,0,0) 40%), url(/images/rays.svg)
  background-position: center top
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover

.fixed-logo
  position: fixed
  top: 2em
  left: 2em
  width: 15%
  max-width: 250px
  min-width: 100px

.centered
  display: table
  height: 100%
  width: 100%
  text-align: center
  background-size: cover
  color: $color-intro-text

  section
    height: 100vh
    width: 100%
    display: table
    vertical-align: middle

  article
    margin: auto
    line-height: 2
    display: table-cell
    vertical-align: middle

