.calculator
  height: 100%

.viewport
  @include container(auto)
  height: 100%
  overflow: hidden
  position: relative

.loading
  position: absolute
  z-index: 100
  left: 0
  top: 0
  width: 100%
  height: 100%
  display: table
  background: #4A5163
  opacity: 1
  @include transform(translateZ(0))

  .spinner
    margin: auto
    width: 100px
    height: 100px
    display: block

  &.hidden
    z-index: -100
    opacity: 0
    @include transition(z-index 0.3s linear 0s, opacity 0.3s)

  .inner
    display: table-cell
    vertical-align: middle

  img
    border: 0
    display: block
    margin: auto
    width: 90px // halved for retina support

  h5
    text-align: center
    color: #fff
    font-size: 4vh
    padding: 0
    margin: 0

.wrapper
  @include col(100%)
  @include transform(translateX(0))
  @include transition(transform .3s ease-in-out)
  @include omega
  height: 100%
  &.with-nav
    @include transform(translateX($nav-width / 2))
  &.with-subnav
    @include transform(translateX($nav-width))


.cityscape
.content-wrapper
  @include col(100%)
  @include omega
  height: 100%

.content
  @include col
  @include omega
  position: relative
  height: calc(100% - #{$header-height})

.inner-content
  width: 100%
  position: relative
  height: 100%
  @include omega

  @include media($media-big)
    width: calc(100% - #{$right-col-width})

  @include media($media-bigger)
    width: calc(100% - #{$right-col-width-bigger})

.toggle-nav
  @extend %icon-menu-before
  .with-nav &
    @extend %icon-close-before

.show-overview
  @extend %button, %icon-arrow-left-before
  position: absolute
  bottom: 0px
  width: 100%
  line-height: 4em
  background: #eee
  box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.2)
  border-top: 1px solid #ccc
  font-weight: 600
  &:before
    margin-right: 0.5em

.hide-overview
  @extend %button, %icon-arrow-right-before
  width: 100%
  background: #eee
  text-transform: capitalize
  box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.2)
  border-top: 1px solid #ccc
  font-weight: 600
  height: 60px

  &:before
    margin-right: 0.5em

.overview
  overflow: hidden
  position: absolute
  top: 0
  left: 0
  width: 100%
  background: #fff
  @include transition(transform .3s ease-in-out)
  left: 100%
  height: 100%
  z-index:  1000

  &.active
    @include transform(translateX(-100%))

  .pathway-actions-wrapper
    overflow: auto
    height: calc(100% - 60px)
    padding: 1em

