.viewport
  @include container(auto)
  height: 100vh
  overflow: hidden
  position: relative

.wrapper
  @include col(100%)
  @include transform(translatex(0))
  @include transition(transform .3s ease-in-out)
  @include omega
  &.with-nav
    @include transform(translatex($nav-width / 2))
  &.with-subnav
    @include transform(translatex($nav-width))

.cityscape
  height: $cityscape-height
  position: absolute
  top: 0
  left: 0
  right: 0

  @media screen and (max-height: $device-height-small)
    top: 0
    height: 0
    display: none

.content-wrapper
  @include col(100%)
  @include omega

.content
  @include col
  @include omega
  position: relative
  height: 100 - $header-height

.bit
  @include col((100%-$right-col-width))
  position: relative
  height: 100%
  @include omega

.controls-sidebar
  @include col($right-col-width)
  @include omega
  height: 100%
  margin-bottom: 100px
  overflow: hidden
  position: relative
  background: #F5F5F5

  .tabs
    overflow: auto
    padding-left: 1px
    height: calc(100% - 14vh)

  .tab
    padding: 1em
    position: relative
    &.active
      background-color: $color-background-light

    .item
      padding: 1em 0em
      width: 100%
      font-size: 70%
      border-bottom: 1px dashed #ccc
      &:hover
        .option
          .tooltip
            opacity: 1
            z-index: 100

      div
        overflow: auto

      .info-button
        float: right
        margin-top: 1vh

      label
        float: left
        margin-top: 0.5vh
        max-width: 70%

      .value-label
        float: right
        padding: 1em
        background-color: #ccc
        margin-left: 1em

        &.high
          background: #D53980
          color: #fff

        &.med
          background: #E394B8
          color: #fff

      .option
        width: 100%
        padding: 1em 0em 0em 0em

        input
          width: 100%

        input[type=radio]
          width: auto
          margin: 0vw 4vw 0vw 0vw


        .tooltip
          padding: 1em
          background-color: #464d5e
          color: #fff
          margin-top: 1em
          margin-bottom: 1em
          position: absolute
          display: block
          width: 90%
          transition: all 0.2s linear
          opacity: 0
          z-index: -1
          &:after
            content: ""
            position: absolute
            top: -10px
            border-style: solid
            border-width: 0 15px 18px
            border-color: #464d5e transparent
            display: block
            width: 0
            z-index: 1

          &[data-position="1"]:after
            left: 0
          &[data-position="2"]:after
            left: 25%
          &[data-position="3"]:after
            left: 50%
          &[data-position="4"]:after
            left: 75%



.toggle-nav
  @extend %icon-menu-before
  .with-nav &
    @extend %icon-close-before

.show-overview
  @extend %button, %icon-arrow-left-before
  position: absolute
  bottom: 0px
  width: 100%
  line-height: 4em
  box-shadow: 0px -5px 5px 0px #888
  &:before
    margin-right: 0.5em

.hide-overview
  @extend %button, %icon-arrow-right-before
  width: 100%
  background: #f5f5f5
  text-transform: capitalize
  box-shadow: 0px -5px 5px 0px #888
  line-height: 4em
  &:before
    margin-right: 0.5em


.overview
  overflow: hidden
  position: absolute
  top: 0
  left: 0
  width: 100%
  background: #fff
  @include transition(transform .3s ease-in-out)
  left: 100%
  height: 100%
  z-index:  50

  &.active
    @include transform(translatex(-100%))

  .pathway-actions-wrapper
    overflow: auto
    height: 87vh
    padding: 1em




.tabs
  .tab
    display: none

    &.active
      display: block
