.viewport
  @include container(auto)
  height: 100vh
  overflow: hidden
  position: relative

.wrapper
  @include col(150%)
  @include transform(translatex($nav-width * -1))
  @include transition(transform .3s ease-in-out)
  @include omega
  &.with-nav
    @include transform(translatex(0))

.cityscape
  height: 200px

.content-wrapper
  @include col(100% - $nav-width)
  @include omega

.content
  @include col
  @include omega
  position: relative
  height: 100 - $header-height

.bit
  @include col((100%-$right-col-width))
  position: relative
  height: 100%
  @include omega

.controls-sidebar
  @include col($right-col-width)
  min-width: $right-col-min-width
  @include omega
  height: 100%
  margin-bottom: 100px
  overflow: auto

  .tab
    padding: 2em 1em


.toggle-nav
  @extend %icon-menu-before
  .with-nav &
    @extend %icon-close-before

.show-overview
  @extend %button, %icon-arrow-left-before
  position: absolute
  bottom: 0

.hide-overview
  @extend %button, %icon-arrow-right-before
  width: 100%
  background: #f5f5f5
  text-transform: capitalize
  padding: 1em 0
  box-shadow: 0px -5px 5px 0px #888
  margin-top: 1em
  position: fixed
  bottom: 0
  height: 52px
  &:before
    margin-right: 0.5em


.overview
  overflow: hidden
  position: absolute
  top: 0
  left: 0
  width: 100%
  background: #fff
  @include transition(transform .3s ease-in-out)
  left: 100%
  height: 100%

  &.active
    @include transform(translatex(-100%))

  .pathway-actions-wrapper
    overflow: auto
    height: calc(100% - $header-height)




.tabs
  .tab
    display: none

    &.active
      display: block

