.guide

  section
    padding: 15%
    text-align: center
    width: 100%

    *
      font-family: sans-serif
      line-height: 1.6em

  section:after
    content: " "
    clear: both
    display: block

  // section
  //   width: 50%
  //   margin: auto
  //   min-width: 600px

  //   // Alternate image side
  //   &:nth-of-type(2n)
  //     .col
  //       @include omega
  //       float: right

  article
    h1, h2
      margin-bottom: 10px
      font-size: 1.5em

    .col
      @include col(50%)
      text-align: left

    img
      max-width: 100%

    a
      color: $color-highlight
      text-decoration: none

      &.button
        @extend .button

.skip-guide
  @extend .button
  position: fixed
  bottom: 1em
  left: 1em

