$scroll-nav-width: 25px

.scrollable-nav

  $color-scroll-nav: #95ceca

  position: fixed
  right: 1em
  top: 50%
  @include transform(translate(0, -50%))

  > ul
    list-style: none

    > li
      margin-bottom: $scroll-nav-width

  a
    display: block
    border: 3px solid $color-scroll-nav
    border-radius: 50px
    width: 15px
    height: 15px
    text-indent: 999px
    overflow: hidden

    @include media($media-medium)
      width: $scroll-nav-width
      height: $scroll-nav-width

    &.active
      background: $color-scroll-nav

.scrollable-next
  @extend %icon-button, %icon-down_arrow-before
  position: fixed
  margin: auto
  bottom: $scroll-nav-width
  right: 1em
  color: #ffffff
  width: 60px
  height: 60px
  text-indent: 100%
  overflow: hidden
  opacity: 1
  outline: none
  @include transition(opacity .3s ease-in-out)
  @include clearfix

  @include media($media-medium)
    right: 50%
    @include transform(translateX(50%))

  &.is-hidden
    opacity: 0

  &:before
    font-size: 50px
    position: absolute
    top: 0
    left: -114%



.guide
  .fixed-logo
    opacity: 0
    @include transition(opacity .3s ease-in-out)
    &.is-active
      opacity: 1
      @include transition(opacity .3s .3s ease-in-out)

    @media(orientation: portrait)
      opacity: 1

    @include media($media-big)
      opacity: 1!important

  section
    padding: 1.5em
    text-align: center
    width: 100%

    @include media($media-medium)
      padding: 3em

  section:after
    content: " "
    clear: both
    display: block

  article

    @include media($media-big)
      font-size: 1.5em

    line-height: 1.6em

    h1, h2
      margin-bottom: 10px
      font-size: 1.5em

    .col
      @include col(100%)
      padding: 0 20px
      text-align: left

      @include media($media-medium)
        width: 50%

    img
      width: 100%
      max-width: 100%
      height: auto
      margin: 1em auto
      display: block

      @include media($media-medium)
        width: auto

    a
      color: rgba(149, 207, 202, 1)
      text-decoration: none

      &.button
        @extend .button

  #guide-1
    background-image: url(/images/uk-map.png)
    background-position: center
    background-repeat: no-repeat
    background-size: auto 75%

    @include media($media-medium)
      background-position: 80% 50%

.button
  text-transform: uppercase
  background: $color-highlight
  display: inline-block
  color: $color-button-text
  text-decoration: none
  border-radius: 4px
  font: $font-light
  margin: 1em 0 0 0
  border: 0
  padding: 1em 2em

.skip-guide
  @extend .button
  position: fixed
  bottom: $scroll-nav-width
  left: 1em



