.button
  padding: 1.5vh 4vw
  text-transform: uppercase
  background: $color-highlight
  display: inline-block
  color: $color-button-text
  text-decoration: none
  border-radius: 4px
  font: $font-light
  font-size: 2.5vw
  margin: 1em 0 0 0
  border: 0

.guide
  section
    padding: 15%
    text-align: center
    width: 100%

    *
      font-size: 2.25vh
      line-height: 1.6em

  section:after
    content: " "
    clear: both
    display: block

  article
    h1, h2
      margin-bottom: 10px
      font-size: 1.5em

    .col
      @include col(50%)
      padding: 0 20px
      text-align: left

    img
      width: 30vw
      height: 40vh
      margin: 1em 0

    a
      color: $color-highlight
      text-decoration: none

      &.button
        @extend .button

.skip-guide
  @extend .button
  position: fixed
  bottom: 1em
  left: 1em

