// Layout helpers
@mixin container($max: $max-width)
  @extend %clearfix
  width: 100%
  max-width: $max
  margin: auto

@mixin row
  @extend %clearfix

@mixin col($width: 100%)
  @extend %_col
  width: $width
  padding-right: $gutter-width

@mixin omega
  @extend %_omega

@mixin media($query)
  @media #{$query}
    @content

@mixin tooltip-arrow($color)
  position: absolute
  top: -10px
  border-style: solid
  border-width: 0 10px 10px
  border-color: $color transparent
  display: block
  width: 0
  z-index: 1
