// Default styles
*
  @include box-sizing(border-box)

html
  font-size: #{$em-base}
  height: 100%
  width: 100%
  position: fixed

body
  font-size: 100%

::selection
  color: #fff
  background: #28a197

::-moz-selection
  color: #fff
  background: #28a197

