// 'Globals'
$em-base: 16!default
$gutter-width: 30px!default
$max-width: 1024px!default

$color-background: #3B414F
$color-background-light: #f5f5f5
$color-background-dark: #5a6378

$color-border-light: #ddd

$color-highlight: #D53980
$color-button-text: #FFFFFF
$color-intro-text: #FFFFFF
$color-text-main: #6F777B
$color-background: #2c313b
$color-highlight: #d53980
$color-button-text: #ffffff
$color-intro-text: #ffffff
$color-text-main: #6f777b

$font-main: "Lato", sans-serif
$font-light: 100 1em "Lato", sans-serif

$right-col-width: 308px

$nav-width: 33.333%
$header-height: 70px

$chart-tabs-width: 220px

$chart-tab-nav-height: percentage(1/9)
// TODO: that 70px below
$chart-tab-padding-top: 20px
$chart-tab-padding-right: 20px
$chart-tab-padding-bottom: 20px
$chart-tab-padding-left: 20px

$device-height-small: 760px

$cityscape-height: 300px
$cityscape-bar-height: 30px

$media-webkit-only: 'screen and (-webkit-min-device-pixel-ratio: 0)'

