// 'Globals'
$em-base: 16!default
$gutter-width: 30px!default
$max-width: 1024px!default

$color-background: #2c313b
$color-background-light: #f5f5f5
$color-background-dark: #5a6378

$color-border-light: #ddd
$color-border-dark: #384050

$color-highlight: #D53980
$color-button-text: #FFFFFF
$color-intro-text: #FFFFFF
$color-text-main: #6F777B
$color-highlight: #d53980
$color-button-text: #ffffff
$color-intro-text: #ffffff
$color-text-main: #6f777b

$font-main: "Lato", sans-serif
$font-light: 100 1em "Lato", sans-serif

$right-col-width: 308px

$small-controls-width: 140px

$nav-width: 616px
$header-height: 71px


$chart-tabs-width-small: 56px
$chart-tabs-width: 220px

$chart-tab-nav-height: percentage(1/9)
// TODO: that 70px below
$chart-tab-padding-top: 20px
$chart-tab-padding-right: 20px
$chart-tab-padding-bottom: 20px
$chart-tab-padding-left: 20px

$device-height-small: 760px

$cityscape-height: 300px
$cityscape-bar-height: 30px

$width-medium: 860px
$width-mediumbig: 1000px
$width-big: 1300px

$media-webkit-only: 'screen and (-webkit-min-device-pixel-ratio: 0)'

$media-big: 'screen and (min-width: #{$width-big})'
$media-mediumbig: 'screen and (min-width: #{$width-mediumbig})'
$media-medium: 'screen and (min-width: #{$width-medium})'
$media-city: '(min-width: #{$width-medium}) and (min-height: 761px)'
$media-small: 'screen and (min-width: 600px)'

$media-height-small: 'screen and (max-height: #{$device-height-small})'

