h1 Commercial demand for heating and cooling

p This sector considers the amount of heating, cooling and hot water used within commercial buildings such as shops, hotels, offices, and schools; it doesn’t include industrial buildings which are covered under the industry sector. In 2007, commercial premises used 75 TWh/y of energy for heating, 14 TWh/y for hot water, and 27 TWh/y for cooling.

p The 2050 Calculator assumes that the number of commercial properties increases by 1% per year, from 1.8 million in 2007 to 2.7 million in 2050.

h2 Level 1

p Level 1 assumes that in 2050, heating and hot water demand are both higher than 2007 levels, reaching 121 TWh/y for heating and 22 TWh/y for hot water. This means in 2050 each building is demanding about the same heat and hot water as in 2007. All commercial buildings are air-conditioned in 2050, increasing energy demand for cooling to 103 TWh/y. The total energy demand for commercial heating and cooling in 2050 is 246 TWh/y.

h2 Level 2

p Level 2 assumes that in 2050, heating demand grows to 97 TWh/y, while hot water demand grows by 47% to 19 TWh/y. This means each building is demanding 20% less heat and 10% less hot water in 2050. All offices and retail units and half of the other commercial buildings are air-conditioned in 2050, increasing energy demand for cooling by 75% to 48 TWh/y. The total energy demand for commercial heating and cooling in 2050 is 165 TWh/y.

h2 Level 3

p Level 3 assumes that in 2050, total heating demand and cooling demand remain close to 2007 levels, at 78 TWh/y for heating and 28 TWh/y for cooling. This means each building is demanding 30% less heat and air-conditioning in 2050. Demand for hot water grows to 17 TWh/y in 2050, a drop in demand of 20% per building. The total energy demand for commercial heating and cooling in 2050 is 123 TWh/y.

h2 Level 4

p Level 4 assumes that in 2050, total heating and cooling demand is lower than in 2007. Heating demand falls to 59 TWh/y, hot water demand grows to 15 TWh/y, and cooling demand falls to 14 TWh/y. This means each building is demanding 40% less heat, 30% less hot water and 50% less air-conditioning in 2050. The total energy demand for commercial heating and cooling in 2050 is 87 TWh/y.

h2 Interaction with other choices

p 2050 Calculator users should choose the technologies for heating and air-conditioning in the ‘Domestic and commercial heating choices’ sector.

= image_tag '/images/factsheets/commercial-demand-for-heating-and-cooling1.png', class: 'aligncenter', alt: 'Commercial demand for heating and cooling'

figure
  = image_tag '/images/factsheets/commercial-demand-for-heating-and-cooling2.png', class: 'aligncenter', alt: 'Commercial demand for heating and cooling'

  figcaption Figure 1. A Fujitsu heating and air conditioning system. Level 4 assumes that fewer commercial buildings than today are air conditioned, while level 1 assumes that all of them are air conditioned.

= image_tag '/images/factsheets/commercial-demand-for-heating-and-cooling-chart1.png', class: 'aligncenter', alt: 'Commercial demand for heating and cooling'


