h1 Home insulation

p In 2007, the average 'leakiness' of all UK homes, which measures how much power is required to maintain each degree of temperature difference, was 247 W/&deg;C. It is assumed that 25 million of 2007's homes will still be with us in 2050, with 15 million more new homes constructed between 2007 and 2050. The number of households will increase by 14 million, from 26 million in 2007 to 40 million in 2050.

h2 Level 1

p Level 1 assumes that the average leakiness falls by about 25%, from 247 W/&deg;C in 2007 to 190 W/&deg;C in 2050. New homes are built to 2006 insulation standards. 6 million existing homes receive extra loft insulation, 3.5 million receive floor insulation and 3 million receive cavity wall insulation.

h2 Level 2

p Level 2 assumes that the average heat loss parameter falls by around 33%. New homes are built to the Energy Saving Trust's advanced practice energy standard. 8 million existing homes receive triple glazing, 7 million receive extra loft insulation and draught proofing, 5 million receive floor insulation, 4.5 million receive cavity wall insulation and 2.5 million receive extra insulation on their walls (solid wall insulation).

h2 Level 3

p Level 3 assumes that the average leakiness falls by 40%. New homes are built to the Energy Saving Trust's advanced practice energy standard. 18 million existing homes receive extra loft insulation, 14 million receive triple glazing, 13.5 million receive extra draught proofing, 7 million receive floor insulation, 7 million receive cavity wall insulation and 6 million receive extra insulation on their walls.

h2 Level 4

p Level 4 assumes the average leakiness is reduced by 50%. New homes are built close to the PassivHaus standard. 24 million existing homes receive extra draught proofing,22 million receive triple glazing, 21 million receive extra loft insulation, 11 million receive floor insulation, 9 million receive cavity wall insulation and 8 million receive extra insulation on their walls.

h2 Interaction with other choices

p Note that, although level 4 insulation halves the power required for a typical home to maintain a given temperature, this will be at least partially offset by the increase in the number of homes and the expectation that we will choose to have warmer homes. The user can specify that internal home temperature can be anywhere between 16&deg;C and 20&deg;C by 2050 using the 'average temperature of homes' lever.

figure
  = image_tag '/images/factsheets/home-insulation-img.png', class: 'aligncenter', alt: 'Home Insulation'

  figcaption Figure 1. Internal solid wall insulation in a London home being enhanced as part of Retrofit for the Future.


= image_tag '/images/factsheets/home-insulation-chart.png', class: 'aligncenter', alt: 'Home Insulation'

