h1 International shipping

p In 2007, 4 tonnes of goods per person were imported through UK ports and 3 tonnes per person exported. Historically, shipping levels are closely tied to economic growth, and shipping has played a key role in supporting trade and the UK's quality of life.

p There is currently no agreed way of allocating international shipping emissions to different countries. International shipping emissions are not currently included in the UK's 2050 emissions target, largely for this reason. However, they are included in the 2050 Calculator to ensure complete coverage of all sectors.

p In common with the other sectors in the Calculator, the international shipping trajectories are calculated on the basis of technical and operational potential. However unlike the other sectors, these trajectories all have the same level of shipping activity, as it is assumed to remain constant across the trajectories. These trajectories are based on a recent study commissioned by the Department for Transport (DfT).(<strong>2</strong>)

h2 Level 1

p Level 1 assumes there is no improvement in energy efficiency between 2007 and 2050. Emissions are estimated to increase by around 139% between 2007 and 2050. <em>(<strong>2</strong>) AMEC Environment & Infrastructure UK Limited (2011) Costs and Benefits of Abatement Options for Greenhouse Gas Emissions from Ships Arriving at and Departing from Ports in the UK. Scenarios are based on the central estimates from the study. We have removed the effect of biofuels, as this is handled separately by the 2050 Calculator.</em>

h2 Level 2

p Level 2 assumes one third of the maximum technically feasible emissions reduction potential estimated for 2020 and 2050 (excluding biofuels) is realised. Emissions are estimated to increase by around 78% between 2007 and 2050.

h2 Level 3

p Level 3 assumes two thirds of the maximum technically feasible emissions reduction potential estimated for 2020 and 2050 (excluding biofuels) is realised. Emissions are estimated to increase by around 16% between 2007 and 2050.

h2 Level 4

p Level 4 assumes the maximum technically feasible emissions reduction potential estimated for 2020 and 2050 (excluding biofuels) is realised through a wide range of measures, including fuel cells, speed reductions, hull design, hull and propeller measures and waste heat recovery. Emissions are estimated to decrease by around 46% between 2007 and 2050.

p Due to differences in the approaches used to measure the UK's international shipping emissions, these scenarios are not consistent with the estimates reported in the UK's national emissions inventory; the scenarios are based on shipping activity, whereas the estimates reported in the national emissions inventory are based on UK fuel sales.

h2 Interaction with other choices

p Shipping activity is influenced by the amount and type of fuel we import, the extent of recycling of raw materials, the quantities of imports and exports, and the size and shape of UK industry. The 2050 Calculator does not consider any of these factors in relation to shipping. The user can partially power shipping by biofuels in the Calculator by selecting a pathway that has bioenergy imports, UK bioenergy production, and conversion to mainly liquid bioenergy.

figure
  = image_tag '/images/factsheets/international-shipping-img.png', class: 'aligncenter', alt: 'International shipping'

  figcaption Figure 1. The Kohyohsan, a ship built with an 'axe bow' that reduces the energy lost in waves, reducing fuel consumption by up to 6%. Source: IMO.

= image_tag '/images/factsheets/international-shipping-chart.png', class: 'aligncenter', alt: 'International shipping'

p (<strong>2</strong>) AMEC Environment & Infrastructure UK Limited (2011) Costs and Benefits of Abatement Options for Greenhouse Gas Emissions from Ships Arriving at and Departing from Ports in the UK. Scenarios are based on the central estimates from the study. We have removed the effect of biofuels, as this is handled separately by the 2050 Calculator.


