h1 International aviation

p In 2010, 172 million international aviation passengers used UK airports. The Department for Transport (DfT) forecasts that, given existing policy commitments, this is likely to increase by around 130% by 2050.

p There is currently no agreed way of allocating international aviation emissions to different countries. International aviation emissions are not currently included in the UK's 2050 target, largely for this reason. However, they are included in the 2050 Calculator to ensure complete coverage of all sectors.

p  Whereas the other sectors in the Calculator have trajectories which are calculated on the basis of physical and technical feasibility, the international aviation trajectories are based on policy scenarios taken from a DfT report published in August 2011 (<strong>1</strong>).

h2 Level 1

p Level 1 represents the DfT's latest assessment of how CO2 emissions from international aviation are likely to change to 2050, given existing policy. By 2050, the number of international passengers using UK airports increases by around 130%. The efficiency of the aircraft fleet improves by 0.9% per year<em>.(<strong>1</strong>)

h2 Level 2

p Level 2 assumes further action to reduce inefficiencies in air traffic related operations, and action to promote behavioural change amongst leisure passengers. By 2050 the number of international passengers using UK airports increases by around 130% on 2010 levels and the sector uses 45% more fuel than in 2010.

h2 Level 3

p Level 3 assumes all the measures in level 2 and additional action leading to air carriers better matching aircraft types to the type of flight. By 2050 the number of international passengers using UK airports increases by 130% above 2010 levels, and the sector uses 31% more fuel than in 2010.

h2 Level 4

p Level 4 assumes all the measures in level 3 plus further domestic action to constrain airport capacity and to encourage faster fleet turnover. Level 4 also assumes international action to introduce CO2 standards and to achieve international fuel burn goals. By 2050 the number of international passengers using UK airports increases by 85% on 2010 levels and the sector uses 5% more fuel than in 2010.

h2 Interaction with other choices

p Test flights have demonstrated the technical feasibility of using biofuels in aviation. However biofuel is limited in quantity and there are competing demands for it. In the future, aircraft may be able to use biofuels in significant quantities. To choose a 2050 Calculator pathway where biofuels are used in aviation, either select a pathway that has bioenergy imports, or select a pathway that has both UK bioenergy production and conversion to mainly liquid bioenergy.


figure
  = image_tag '/images/factsheets/international-aviation-img.png', class: 'aligncenter', alt: 'International aviation'

  figcaption Figure 1. A Boeing 787 Dreamliner designed to use 20% less fuel than comparable aircraft of the previous generation. Photo &copy; Dave Sizer.

figure
  = image_tag '/images/factsheets/international-aviation-chart.png', class: 'aligncenter', alt: 'International aviation'

p (<strong>1</strong>) Available at: www.dft.gov.uk/publications/reducing-co2-emissions/. For the purposes of the 2050 Calculator, the mid-strength of each option has been used to create the alternative pathways. We have removed emissions associated with domestic aviation and the effect of biofuels penetration included in the published forecasts, as these are handled separately by the 2050 Calculator.</em>between 2010 and 2050, and by 2050 the sector uses 50% more fuel than in 2010.

