h1 Shift to zero emission transport

p In 2007, almost all the UK's domestic passenger transport was powered by diesel or petrol. Zero emission transport includes battery electric or hydrogen fuel cell cars and buses, and electrified domestic rail, all of which have zero emissions at the tailpipe. Hybrid or plug-in hybrid vehicles have both petrol/diesel engines and electric motors and are therefore not zero emission. However as plug-in hybrids receive most of their energy from the electricity socket, they can produce 45% less CO2 from their tail pipe compared to conventional internal combustion engine vehicles.

h2 Level 1

p Level 1 assumes that by 2050, 20% of passenger kilometres are in plug-in hybrid electric cars, with batteries that can be charged from the mains, and 2.5% are in zero emission cars. Buses and trains are largely unchanged.

h2 Level 2

p Level 2 assumes that by 2050, only 35% of passenger-km are travelled in conventional petrol or diesel engine cars. 54% are plug-in hybrid vehicles and 11% are zero emission vehicles. All buses are hybrids with electric motors as well as diesel engines. The fraction of passenger railway travel that is electrified increases from 64% to 73%.

h2 Level 3

p Level 3 assumes that by 2050, 20% of passenger-km are travelled in conventional combustion engine cars, with 32% in plug-in hybrid vehicles and 48% in zero emission vehicles. 22% of bus travel takes place in fully electric or fuel cell electric buses, with all other buses powered by hybrid diesel-electric engines. 87% of passenger railway travel is electrified.

h2 Level 4

p Level 4 assumes that by 2050 100% of car travel is powered by an electric motor or hydrogen fuel cell. All passenger trains are electrified and 50% of bus travel is fully electrified (25% from batteries and 25% from fuel cells), with the remainder being hybrid diesel-electric.

h2 Interaction with other choices

p We can power the UK's cars, buses and trains by biofuel rather than diesel or petrol, or rely on electricity or hydrogen fuel cells. In the 2050 Calculator, the technology Users can specify what type of zero emission car technology will come onto the market by selecting Option A-D of the 'choice of fuel cells or batteries slider.

p The 'domestic transport behaviour' lever influences how much people travel, by what mode.

p Where vehicles are not electrified (and even in level 4, buses are expected to be at least partially powered by liquid fuel) they can run on biofuel rather than diesel or petrol. This option can be selected in the 2050 Calculator by choosing bioenergy imports, or choosing to dedicate land to biomass and to turn that biomass into liquid biofuel.

figure
  = image_tag '/images/factsheets/shift-to-zero-emission-transport-img.png', class: 'aligncenter', alt: 'Shift to zero emission transport'

  figcaption Figure 1. The Vauxhall Ampera is an example of a 'plug-in hybrid' scheduled to enter the UK market in 2012. Its battery can store 16 kWh which gives it a pure electric range of 80 km. It also contains a petrol-electric generator to extend its range. Photo &copy; Vauxhall.

figure
  <table><tbody><tr><th></th><th></th><th style="text-align: center;" colspan="4">2050</th></tr><tr><td>% of car travel by:</td><td>2007</td><td>Level 1</td><td>Level 2</td><td>Level 3</td><td>Level 4</td></tr><tr><td>Conventional car</td><td> 100%</td><td>77.5%</td><td>35%</td><td>20%</td><td></td></tr><tr><td>Plug-in Hybrid</td><td></td><td>20%</td><td>54%</td><td>32%</td><td></td></tr><tr><td>Zero emission car</td><td></td><td>2.5%</td><td>11%</td><td>48%</td><td>100%</td></tr></tbody></table>

  figcaption Table 1. The assumptions about the types of passenger car used.

= image_tag '/images/factsheets/shift-to-zero-emission-transport-chart.png', class: 'aligncenter', alt: 'Shift to zero emission transport'

