.overview-chartset
  .date-range
    height: 4em
    padding: 0 120px
    background: #eee

    .min, .max
      position: absolute
      top: 0.3em
      color: $color-background-dark
      font-size: 2em

    .min
      left: $chart-tabs-width + 20px

    .max
      right: 20px

    input
      margin-top: 1.25em
      width: 100%

  .title
    color: #FFF
    margin: 30px

  .bar-title
    transform: translateY(-130%)
    left: 20px

  .bar-label
    text-anchor: start

  .charts
    position: absolute
    top: 9em
    bottom: 20px
    left: $chart-tabs-width
    right: 0

    .chart
      height: percentage(1/3)


