.chart

  .domain
    fill: none
    stroke-width: 1

  .domain,
  .tick,
  .axis
    stroke: #fcfdfd

  .label
    stroke: none
    fill: #c7ced9
    text-anchor: middle

  .border
    fill: none
    stroke: #fff
    // shape-rendering: crispEdges

  .line
    fill: none
    stroke: #fcfdfd
    stroke-width: 4

  .layer

