.domain
  fill: none
  stroke-width: 1

.domain,
.tick,
.axis
  stroke: #fcfdfd

.label
  stroke: #c7ced9
  text-anchor: middle

.line
  fill: none
  stroke: #fcfdfd
  stroke-width: 4

.layer


// .layer-transport
//   fill: url(#area-gradient-1)
//
// .layer-industry
//   fill: url(#area-gradient-2)
//
// .layer-heating-and-cooling
//   fill: url(#area-gradient-3)
//
// .layer-lighting--appliances
//   fill: url(#area-gradient-4)
//
// .layer-layer-food-consumption-unused
//   fill: url(#area-gradient-5)
//
// .layer-group6
//   fill: url(#area-gradient-6)
//
// .layer-group7
//   fill: url(#area-gradient-7)
