.double-size
  height: 100%
  overflow-y: scroll

  .chart.full-size
    height: 200%

h2, .title
  font-size: 1.4em
  text-align: center

.chart
  position: relative

  &.full-size
    padding: 20px
    height: 100%

  .domain
    fill: none
    stroke-width: 1

  .domain,
  .axis
    stroke: #fcfdfd

  .tick
    fill: #fcfdfd

  .label
    stroke: none
    fill: #c7ced9
    text-anchor: middle

  .border
    fill: none
    stroke: #fff
    // shape-rendering: crispEdges

  .line
    fill: none
    stroke: #fcfdfd
    stroke-width: 4

  .layer

  .bar-label
    display: none
    text-anchor: middle
    pointer-events: none

  .d3-chart[data-state="graph-hover"]
    .layer-label
      display: none
      pointer-events: none

    .bar-container[data-state="active"]
      .bar
        opacity: 1

      .bar-label
        display: block
        fill: #fff

.bar-title,
.select-title
  position: absolute
  top: 50%
  left: 0
  color: #fff
  width: 150px
  padding-right: 1em
  font-weight: normal
  font-size: 1em
