.chart-component .tab

  .bar-title
    position: absolute
    top: 50%
    left: 0
    color: #fff
    width: 150px
    padding-right: 1em
    font-weight: normal
    font-size: 1em

  .example-selector
    select
      color: #fff
      display: table-cell
      vertical-align: middle
      padding: 0.5em 1em
      height: 46px
      background: none
      border: 1px solid #fff

      option
        background: $color_background_dark

  .costs-chartset
    position: relative
    height: 100%

    .chart
      position: relative

    .compare
      height: 42.8%

      &.top
        margin-top: 6%
        padding-bottom: 20px

      &.bottom
        padding-top: 20px

    .example-selector
      position: absolute
      left: 20px
      top: 46%
      margin-top: -23px
      display: table
      z-index: 10

  .costs-chartset-scroll
    overflow-y: scroll

    .chart
      position: relative

    .sensitivity-summary
      height: 100px

      &.bottom
        height: 100px
        margin-bottom: 20px

    .example-selector
      margin-top: 20px
      margin-bottom: -20px

    .sensitivity-components
      height: 2400px

      .bar-label
        text-anchor: end
        fill: #FFF


