.chart-component .tab

  .example-selector
    select
      color: #fff
      display: table-cell
      vertical-align: middle
      padding: 0.5em 1em
      height: 46px
      background: none
      border: 1px solid #fff

      option
        background: $color_background_dark

  .costs-chartset
    position: relative
    height: 100%

    .compare
      height: 200px

      &.top
        margin-top: 6%
        padding-bottom: 20px

      &.bottom
        padding-top: 0
        margin-top: -20px

    .example-selector
      position: relative
      display: table
      z-index: 10

  .costs-chartset-scroll

    .sensitivity-summary
      height: 100px

      &.bottom
        height: 100px
        margin-bottom: 20px

    .example-selector
      margin-top: 20px
      margin-bottom: -20px

    .sensitivity-components
      height: 1950px

      .bar-label
        text-anchor: end
        fill: #FFF


